<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');
    ._customer_wrap {
        max-width: 887px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        line-height: normal;
        font-size: 16px;
        color: #000000;
        padding-top: 10px;
    }
    ._customer_adv__content {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 10px;
    }
    ._customer_adv__left {
        width: 50%;
    }
    ._customer_adv__right {
        width: 50%;
    }
    ._customer_adv__item {
        display: flex;
        min-height: 54px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    ._customer_adv__item img {
        width: 54px!important;
        height: 54px!important;
    }
    ._customer_adv__item-txt {
        display: grid;
        align-content: center;
        margin-left: 20px;
    }
    ._customer_adv__bottom {
        background: #F2F2F2;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 77px;
        padding-bottom: 31px;
    }
    ._customer_adv__text {
        line-height: 21px;
    }
    ._customer_adv__cont {
        display: flex;
        justify-content: space-between;
    }
    ._customer_adv__phone {
        min-width: 155px;
        line-height: 23px;
        font-size: 18px;
        margin-top: 30px;
        margin-left: 130px;
        font-weight: 400;
    }
    ._customer_adv__phone a {
        color: #000000;
        text-decoration: none;
    }
    ._customer_adv__button {
        width: 180px;
        height: 40px;
        color: #ffffff;
        background: #F15000;
        border-radius: 3px;
        line-height: 40px;
        text-align: center;
        font-weight: 400;
        margin-top: 20px;
        cursor: pointer;
        margin-right: 83px;
        margin-left: 20px;
    }
    ._customer_adv__button:hover {
        opacity: 0.8;
    }
    @media (max-width: 690px) {
        ._customer_adv__cont {
            display: block;
        }
        ._customer_adv__phone {
            margin-left: 0;
        }
        ._customer_adv__content {
            display: block;
        }
        ._customer_adv__left {
            width: 100%;
        }
        ._customer_adv__right {
            width: 100%;
        }
        ._customer_adv__item {
            margin-left: 10px;
        }
    }
</style>
<div class="_customer_wrap">
    <div class="_customer_adv__content">
        <div class="_customer_adv__left">
            <div class="_customer_adv__item">
                <img src="img/advantage/001-map.png">
                <div class="_customer_adv__item-txt">
                    <span>Поставки сыпучих материалов<br> с ближайшего к Ростову карьера</span>
                </div>
            </div>
            <div class="_customer_adv__item">
                <img src="img/advantage/002-panel.png">
                <div class="_customer_adv__item-txt">
                    <span>Доставка по трассе М4 в крупные города<br> и на стройки</span>
                </div>
            </div>
            <div class="_customer_adv__item">
                <img src="img/advantage/003-certificate.png">
                <div class="_customer_adv__item-txt">
                    <span>Качество продукции, подтвержденное сертификатами</span>
                </div>
            </div>
        </div>
        <div class="_customer_adv__right">
            <div class="_customer_adv__item">
                <img src="img/advantage/004-warehouse.png">
                <div class="_customer_adv__item-txt">
                    <span>Товары всегда в наличии</span>
                </div>
            </div>
            <div class="_customer_adv__item">
                <img src="img/advantage/005-worker.png">
                <div class="_customer_adv__item-txt">
                    <span>Профессиональный ремонт электроинструмента</span>
                </div>
            </div>
            <div class="_customer_adv__item">
                <img src="img/advantage/006-percentage.png">
                <div class="_customer_adv__item-txt">
                    <span>Оптовые цены и скидки по смете<br> от конкурента</span>
                </div>
            </div>
        </div>
    </div>
    <div class="_customer_adv__bottom">
        <div class="_customer_adv__text">
            Мы знаем специфику работы наших клиентов, обрабатываем нестандартные заявки.<br>
            Свяжитесь с нами, чтобы начать долгосрочное сотрудничество.<br>
            Работаем с юридическими лицами.
        </div>
        <div class="_customer_adv__cont">
            <div class="_customer_adv__phone">
                <a href="tel:+79185771661">+7 (918) 577-16-61</a>
            </div>
            <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer_adv__button"
                 data-company-id="99623711" data-company-name="Сатурн" data-company-name-rest="Торговый дом"
                 data-company-url="http://www.xn----8sbk2boeeej.xn--p1ai" data-ga-id="CK-1193-1"
                 data-params="{&quot;company_id&quot;:99623711}" data-statistics="1" data-type="callback">
                Заказать звонок
            </div>
        </div>
    </div>
</div>