<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
._customer_card__wrap {
    font-family: Roboto, sans-serif;
    max-width: 877px;
    min-height: 200px;
    font-size: 16px!important;
    color: #ffffff;
    line-height: 19px;
    background: url("img/card/rectangle.png") no-repeat;
    border-radius: 10px;
    background-size: cover;
    z-index: 5;
}
._customer_card__wrap__bg {
    z-index: -1;
    background: rgba(0,0,0,0.5);
    background-size: cover;
    max-width: 877px;
    min-height: 160px;
    border-radius: 10px;
    padding: 20px 20px 12px 40px;
}
._customer_card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
._customer_card__cont {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
._customer_card__item {
    display: flex;
    width: 40%;
    margin-bottom: 20px;
    margin-right: 35px;
}
._customer_card__item-mr {
    width: 50%;
    margin-right: 40px;
}
._customer_card__item img {
    width: 40px!important;
    height: 40px!important;
}
._customer_card__txt {
    display: grid;
    align-content: center;
    margin-left: 20px;
    font-size: 16px!important;
}
</style>
<div class="_customer_card__wrap">
    <div class="_customer_card__wrap__bg">
        <div class="_customer_card__title">Сыпучие материалы напрямую из карьера!</div>
        <div class="_customer_card__cont">
            <div class="_customer_card__item _customer_card__item-mr">
                <img src="img/card/001-diploma.png" />
                <div class="_customer_card__txt">
                    <span>Подтверждаем высокое качество продукции<br />сертификатами</span>
                </div>
            </div>
            <div class="_customer_card__item">
                <img src="img/card/002-compass.png" />
                <div class="_customer_card__txt">
                    <span>Доставляем по трассе М4<br />во все крупные города и стройки</span>
                </div>
            </div>
            <div class="_customer_card__item _customer_card__item-mr">
                <img src="img/card/003-list.png" />
                <div class="_customer_card__txt">
                    <span>Обрабатываем нестандартные заявки</span>
                </div>
            </div>
            <div class="_customer_card__item">
                <img src="img/card/004-price-tag.png" />
                <div class="_customer_card__txt">
                    <span>Получили цены от конкурента?<br />Предложим дешевле!</span>
                </div>
            </div>
        </div>
    </div>
</div>


