<meta charset="UTF-8">
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
._customer_cat__wrap {
    font: 16px Roboto, sans-serif;
    max-width: 627px;
    line-height: 19px;
    background: url("img/category/rectangle.png");
    border-radius: 10px;
    background-size: cover;
    color: #ffffff;
    z-index: 5;
}
._customer_cat__wrap__bg {
    z-index: -1;
    background: rgba(0,0,0,0.5);
    background-size: cover;
    max-width: 587px;
    border-radius: 10px;
    padding: 20px;
}
._customer_cat__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}
._customer_cat__item {
    display: flex!important;
    margin-bottom: 10px;
    margin-left: 10px;
}
._customer_cat__item img {
    width: 30px!important;
    height: 30px!important;
}
._customer_cat__txt {
    display: grid;
    align-content: center;
    margin-left: 10px;
    font-size: 16px!important;
}
._customer_cat__contact {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
._customer_cat__phone {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 60px;
}
._customer_cat__details {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-top: -3px;
    margin-bottom: 6px;
    letter-spacing: 0.6px;
}
._customer_cat__phone a {
    color: #ffffff;
    text-decoration: none;
}
._customer_cat__button {
    width: 180px;
    height: 40px;
    color: #ffffff;
    background: #F15000;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    margin-right: 125px;
    margin-left: 10px;
}
._customer_cat__button:hover {
    opacity: 0.8;
}
@media (max-width: 1176px) {
._customer_cat__contact {
    display: block;
}
._customer_cat__button {
    margin-top: 20px;
    margin-left: 60px;
}
._customer_cat__number {
    margin-left: 60px;
}
}
</style>
<div class="_customer_cat__wrap">
    <div class="_customer_cat__wrap__bg">
        <div class="_customer_cat__title">Сыпучие материалы напрямую из карьера!</div>
        <div class="_customer_cat__cont">
            <div class="_customer_cat__item">
                <img src="img/category/001-diploma.png" />
                <div class="_customer_cat__txt">
                    <span>Подтверждаем высокое качество продукции сертификатами</span>
                </div>
            </div>
            <div class="_customer_cat__item">
                <img src="img/category/002-compass.png" />
                <div class="_customer_cat__txt">
                    <span>Обрабатываем нестандартные заявки</span>
                </div>
            </div>
            <div class="_customer_cat__item">
                <img src="img/category/003-list.png" />
                <div class="_customer_cat__txt">
                    <span>Доставляем по трассе М4 - во все крупные города и стройки</span>
                </div>
            </div>
            <div class="_customer_cat__item">
                <img src="img/category/004-price-tag.png" />
                <div class="_customer_cat__txt">
                    <span>Получили цены от конкурента? Предложим дешевле!</span>
                </div>
            </div>
        </div>
        <div class="_customer_cat__contact">
            <div class="_customer_cat__phone">
                <div class="_customer_cat__details">
                    <span>Узнайте подробности</span>
                </div>
                <div class="_customer_cat__number">
                    <a href="tel:+79185771661">+7 (918) 577-16-61</a>
                </div>
            </div>
            <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer_cat__button"
                 data-company-id="99623711" data-company-name="Сатурн" data-company-name-rest="Торговый дом"
                 data-company-url="http://www.xn----8sbk2boeeej.xn--p1ai" data-ga-id="CK-1193-1"
                 data-params="{&quot;company_id&quot;:99623711}" data-statistics="1" data-type="callback">
                Заказать звонок
            </div>
        </div>
    </div>
</div>